*{
    margin: 0px;
    padding: 0px;


}

.contenedor{
    background-color: rgba(155, 155, 155, 0.89);
    width: 100vw;
    height: 100vh; height: 100vh;
    
}
.profile-description{
    
    padding: 120px;
    margin: 20px;

}

.h21{
    padding: 0px;


}

.h22{
    padding: 10px;
}

.li{
    margin: 20px;
    
}